
.grid.readonly.disabled-duplicate a.grid-action-duplicate,
.grid.disabled-duplicate a.grid-action-duplicate
{
    display: none;
}

.grid-action-duplicate {
    width: auto;
    height: auto;
    display: flex !important;
    align-items: center;
    justify-items: center;
}