
.grid.readonly.disabled-duplicate a.grid-action-duplicate,
.grid.disabled-duplicate a.grid-action-duplicate
{
    display: none;
}

.grid table .grid-action-cell {
    width: auto;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
}